<?xml version="1.0"?>
<config>
    <modules>
        <Fresh_Local>
            <version>0.1.0</version>
        </Fresh_Local>
    </modules>
	<frontend>
         <routers>
            <freshlocal>
                <use>standard</use>
                <args>
                    <module>Fresh_Local</module>
                    <frontName>freshlocal</frontName>
                </args>
            </freshlocal>
			<checkout>
				<args>
					<modules>
						<fresh_local before="Mage_Checkout">Fresh_Local_Checkout</fresh_local>
					</modules>
				</args>
			</checkout>
			<wishlist>
				<args>
					<modules>
						<fresh_local before="Mage_Wishlist">Fresh_Local</fresh_local>
					</modules>
				</args>
			</wishlist>
			<customer>
				<args>
					<modules>
						<fresh_local before="Mage_Customer_AccountController">Fresh_Local_Customer_AccountController</fresh_local>
					</modules>
				</args>
			</customer>
        </routers>
         <!--<layout>
            <updates>
                <fresh_local>
                    <file>fresh_local.xml</file>
                </fresh_local>
            </updates>
        </layout>
		<events>
			<controller_action_predispatch_catalog_product_view>
                <observers>
                    <yourcase_configurable>
                        <type>model</type>
                        <class>Yourcase_Store_Model_Observer</class>
                        <method>forwardToConfigurable</method>
                    </yourcase_configurable>
                </observers>
            </controller_action_predispatch_catalog_product_view>
			<catalog_controller_product_init_before>
				<observers>
                    <yourcase_product_init>
                        <type>model</type>
                        <class>Yourcase_Store_Model_Observer</class>
                        <method>initProduct</method>
                    </yourcase_product_init>
                </observers>
			</catalog_controller_product_init_before>
		</events>-->
    </frontend>
<!--  	<admin>
		<routers>
			<yourcase_store_admin>
				<use>admin</use>
				<args>
					<module>Yourcase_Store</module>
					<frontName>urcase_store</frontName>
				</args>
			</yourcase_store_admin>
			<adminhtml>
				<args>
					<modules>
						<yourcase_store before="Mage_Adminhtml">Yourcase_Store_Adminhtml</yourcase_store>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin> -->
    <global>
		<rewrite>
            <customaccountedit>
                <from><![CDATA[#^/customer/account/#]]></from>
                <to>/freshlocal/customer_account/</to>
            </customaccountedit>
			<customaccountaddress>
                <from><![CDATA[#^/customer/address/#]]></from>
                <to>/freshlocal/customer_address/</to>
            </customaccountaddress>
        </rewrite>
	   <models>
            <fresh_local>
                <class>Fresh_Local_Model</class>
                <resourceModel>fresh_local_resource</resourceModel>
            </fresh_local>
            <fresh_local_resource>
                <class>Fresh_Local_Model_Resource</class>
            </fresh_local_resource>
        </models>
        <resources>
            <fresh_local_setup>
                <setup>
                    <module>Fresh_Local</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fresh_local_setup>
            <fresh_local_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fresh_local_write>
            <fresh_local_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fresh_local_read>
        </resources>
        <blocks>
            <fresh_local>
                <class>Fresh_Local_Block</class>
            </fresh_local>
			<core>
				<rewrite>
					<messages>Fresh_Local_Block_Core_Messages</messages>
				</rewrite>
			</core>
			<directory>
				<rewrite>
					<data>Fresh_Local_Block_Directory_Data</data>
				</rewrite>
			</directory>
			<customer>
                <rewrite>
                    <account_navigation>Fresh_Local_Block_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
			<catalog>
                <rewrite>
                    <product_view>Fresh_Local_Block_Catalog_Product_View</product_view>
                </rewrite>
            </catalog>
			<checkout>
                <rewrite>
                    <onepage>Fresh_Local_Block_Checkout_Onepage</onepage>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <fresh_local>
                <class>Fresh_Local_Helper</class>
            </fresh_local>
			<customer>
				<rewrite>
					<data>Fresh_Local_Helper_Customer_Data</data>
				</rewrite>
			</customer>
        </helpers>
 		<events>
			<!-- <controller_action_layout_load_before>
				<observers>
					<fresh_local_logincheck_observer>
						<type>singleton</type>
						<class>Fresh_Local_Model_Observer</class>
						<method>checkLogin</method>
					</fresh_local_logincheck_observer>
				</observers>
			</controller_action_layout_load_before>
			<customer_registration_is_allowed>
				<observers>
					<fresh_local_registration_observer>
						<type>singleton</type>
						<class>Fresh_Local_Model_Observer</class>
						<method>checkIsRegistrationAllowed</method>
					</fresh_local_registration_observer>
				</observers>
			</customer_registration_is_allowed> -->

			<customer_save_before>
				<observers>
					<fresh_format_data>
						<type>singleton</type>
						<class>Fresh_Local_Model_Observer</class>
						<method>customerFormatData</method>
					</fresh_format_data>
				</observers>
			</customer_save_before>
			<controller_action_layout_generate_xml_before>
				<observers>
					<noindex>
						<type>singleton</type>
						<class>Fresh_Local_Model_Observer</class>
						<method>changeRobots</method>
					</noindex>
				</observers>
			</controller_action_layout_generate_xml_before>
			<!-- <page_block_html_topmenu_gethtml_before>
                <observers>
                    <fresh_local_addmenu>
                        <class>Fresh_Local_Model_Observer</class>
                        <method>addToTopmenu</method>
                    </fresh_local_addmenu>
                </observers>
            </page_block_html_topmenu_gethtml_before> -->
		</events>
		<page>
		   <layouts>
				<homepage>
					<label>Homepage layout</label>
					<template>page/homepage.phtml</template>
					<layout_handle>homepage</layout_handle>
				</homepage>
		   </layouts>
		</page>
    </global>
<!-- 	<default>
        <fresh_local>
            <access>
                <restricted>1</restricted>
				<allowed><![CDATA[customer_account_ adminhtml_]]></allowed>
				<redirect_url><![CDATA[customer/account/login]]></redirect_url>
            </access>
        </fresh_local>
    </default> -->
</config>

