<?xml version="1.0"?>
<config>
    <modules>
        <Fresh_Prodlabel>
            <version>1.0.0</version>
        </Fresh_Prodlabel>
    </modules>	
    <admin>
        <routers>
            <prodlabel>
                <use>admin</use>
                <args>
                    <module>Fresh_Prodlabel</module>
                    <frontName>prodlabel</frontName>
                </args>
            </prodlabel>
            <adminhtml>
                <args>
                    <modules>
                        <prodlabel before="Mage_Adminhtml">Fresh_Prodlabel_Adminhtml</prodlabel>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin> 
    <global>
        <models>
            <prodlabel>
                <class>Fresh_Prodlabel_Model</class>                
            </prodlabel>            
        </models>        
        <blocks>
            <prodlabel>
                <class>Fresh_Prodlabel_Block</class>
            </prodlabel>			
        </blocks>
        <helpers>
            <prodlabel>
                <class>Fresh_Prodlabel_Helper</class>
            </prodlabel>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <prodlabel>
                    <file>prodlabel.xml</file>
                </prodlabel>
            </updates>
        </layout>
        <translate>
            <modules>
                <Fresh_Prodlabel>
                    <files>
                        <default>Fresh_Prodlabel.csv</default>
                    </files>
                </Fresh_Prodlabel>
            </modules>
        </translate>
        <events>
            <controller_action_layout_render_before_adminhtml_sales_order_view>
                <observers>
                    <prodlabel>
                        <class>prodlabel/adminhtml_observer</class>
                        <method>addProdLabelButton</method>
                    </prodlabel>
                </observers>
            </controller_action_layout_render_before_adminhtml_sales_order_view>
        </events>
    </adminhtml>
    <default>
        <prodlabel>
            <layout_info>
                <label_size>100x100</label_size>
                <paper_size>A4</paper_size>
                <first_location>1</first_location>
                <row_spacing>20</row_spacing>
                <column_spacing>20</column_spacing>
            </layout_info>
            <content_info>
                <product_name>1</product_name>
                <order_qty>1</order_qty>
                <invoice_price>1</invoice_price>
                <unit_price>1</unit_price>
                <slaughtered_farmed>1</slaughtered_farmed>
                <source_market>1</source_market>
                <order_no>1</order_no>
                <background_logo>1</background_logo>
            </content_info>
        </prodlabel>
    </default> 
</config>

